.about-cards{
  color: white;
  font-family: "Roboto" , sans-serif;
  margin-top:200px

}
.about-cards h1{
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 100px;
}
.about-card-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid  rgba(54, 53, 53, 0.204);
  background-color: rgba(54, 53, 53, 0.204);
  margin: 20px 0;
  padding: 20px; 
}
.about-card-desc:hover{
   box-shadow: 9px 10px 101px -11px rgba(54,53,53,1);
   
}
.about-card-desc p{
  width: 80%;
  text-align: center;
}

.about-card-desc img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
}
.about-card-desc h3{
  font-weight: 600;
  font-size: 25px;
  
}
.about-card-desc p{
  color: rgba(251, 203, 203, 0.555);
}
@media (max-width:700px){
  .about{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width:500px){
  .about-cards{
    margin-top: 50px;
    text-align: center;
  }
  .about{
    display: flex;
    
    flex-direction: column;
  }
  .about-card-desc{
    width: 100%;
  }
}